<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-page="/index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/builds/addbuild"> <i class="bi bi-menu-button-wide"></i>Report New Build </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/builds/viewallBuild"> <i class="bi bi-menu-button-wide"></i>Manage Builds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/blockers/addBlocker"> <i class="bi bi-menu-button-wide"></i>Report New Blocker</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-page="/blockers/viewallblocker"> <i class="bi bi-layout-text-window-reverse"></i>Manage Blocker</a>
            <ul class="nav-content"></ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/users/user">
                <i class="bi bi-person"></i>
                Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/teams/viewallteam">
                <i class="bi bi-people-fill"></i>
                Connect Other Teams
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li>
    </ul>
</aside>
<!---->