@page "/builds/details/{id:int}"
@using Humanizer;
@model BuildTrackerApp.Pages.Builds.BuildDetailsModel
@{
}

<partial name="SidebarDashboard" />

<div class="build-detail__section">

    <div class="p-3 border-bottom border-2 border-success ">
  
    @if(Model.Builds == null)
    {
            <div class="alert alert-warning " role="alert">
                <p>Build cannot be found</p>
            </div>
    }
    else
    {
        <div class="card-body">
            <div class="d-flex gap-3 align-content-center">
            <h4>@Model.Builds.Title</h4>
             <p class="pb-2">@Model.Builds.CreatedTime.Humanize(utcDate:true)</p>
            </div>
            <div class="mb-2">
                <p class="border-top pt-4 text-capitalize">@Model.Builds.Description</p>
            </div>
        </div>
    }

    </div>
</div>